html {
    cursor: url(assets/mata_mosquito.png) 30 30, auto;
}

body {
	background-image: url(assets/fundo.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.mosquitoPequeno {
    width: 50px;
    height: 50px;
}

.mosquitoMedio {
    width: 70px;
    height: 70px;
}

.mosquitoGrande {
    width: 90px;
    height: 90px;
}

.esquerda {
    transform: scaleX(1);
}

.direita {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    border-top: solid 1px #fff;
    background-color: #fff;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}